<div class="container">
    <h1>Register</h1>

    <label for="username">Username</label>
    <input ng-model="model.user.username"
           id="username"
           class="form-control"
           placeholder="save_gotham"/>

    <label for="FirstName">First Name</label>
    <input ng-model="model.user.firstName"
           id="FirstName"
           class="form-control"
           placeholder="Bruce"/>

    <label for="LastName">Last Name</label>
    <input ng-model="model.user.lastName"
           id="LastName"
           class="form-control"
           placeholder="Wayne"/>

    <label for="password">Password</label>
    <input ng-model="model.user.password"
           id="password"
           class="form-control"
           type="password"
           placeholder="batman123"/>

    <label for="password2">Validate Password</label>
    <input id="password2"
           class="form-control"
           type="password"
           placeholder="batman123"/>

    <a ng-click="model.registerUser(model.user)"
       class="btn btn-primary btn-block">
        Register
    </a>
    <a href="#/login"
       class="btn btn-danger btn-block">
        Cancel
    </a>
</div>