<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 visible-lg"></div>
            <div class="navbar-header col-sm-12 col-xs-12 col-md-12 col-lg-10">
                <a ng-click="model.goToWidgetList()"
                   class="navbar-brand navbar-link pull-left">
                    <span class="glyphicon glyphicon-chevron-left wbdv-custom-color">
                    </span>
                </a>
                <a class="navbar-brand navbar-link pull-left">
                    <strong class="wbdv-custom-color">Choose Widget</strong>
                </a>
            </div>
            <div class="col-lg-1 visible-lg"></div>
        </div>
    </div>
</nav>

<div class="col-lg-1 visible-lg"></div>
<div class="container-fluid col-sm-12 col-xs-12 col-md-12 col-lg-10
wbdv-margin-if-fixed-header wbdv-margin-if-fixed-footer">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.goToWidgetNew('HEADER')">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.goToWidgetNew('HTML')">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.goToWidgetNew('IMAGE')">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.goToWidgetNew('YOUTUBE')">
                Youtube
            </a>
        </li>
    </ul>
</div>
<div class="col-lg-1 visible-lg"></div>


<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 visible-lg"></div>
            <div class="navbar-footer col-sm-12 col-xs-12 col-md-12 col-lg-10">
                <a ng-click="model.goToProfile()"
                   class="navbar-brand navbar-link pull-right">
                    <span class="glyphicon glyphicon-user wbdv-custom-color">
                    </span>
                </a>
            </div>
            <div class="col-lg-1 visible-lg"></div>
        </div>
    </div>
</nav>
