<nav class="navbar navbar-fixed-top bg-primary">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-brand pull-left">
                <a ng-click="model.goToWebsiteList()" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left wbdv-custom-color">
                    </span>
                </a>
            </div>
            <div class="navbar-brand pull-right">
                <a class="navbar-link">
                    <span class="glyphicon glyphicon-plus wbdv-custom-color"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a ng-click="model.goToWebsiteList()" class="navbar-brand navbar-link">
                    <strong class="wbdv-custom-color">Websites</strong>
                </a>
            </div>
        </div>

        <div class="col-sm-8 col-xs-12">
            <div class="navbar-brand pull-left hidden-sm hidden-md hidden-lg">
                <a ng-click="model.goToWebsiteList()"
                   class="navbar-link wbdv-no-left-margin">
                    <span class="glyphicon glyphicon-chevron-left wbdv-custom-color">
                    </span>
                </a>
            </div>
            <div class="navbar-brand pull-right">
                <a ng-click="model.createWebsite(model.website)"
                   class="navbar-link wbdv-no-right-margin">
                    <span class="glyphicon glyphicon-ok wbdv-custom-color"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand navbar-link">
                    <strong class="wbdv-custom-color">New Website</strong>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid wbdv-margin-if-fixed-footer wbdv-margin-if-fixed-header">
    <div class="col-sm-4 hidden-xs">
        <ul ng-repeat="website in model.websiteList" class="list-group">
            <li class="list-group-item">
                <a ng-click="model.goToWebsite(website._id)">
                    {{website.name}}
                </a>
                <a ng-click="model.goToEditWebsite(website._id)"
                   class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8">
        <form>
            <div class="form-group">
                <label for="username">Name</label>
                <input ng-model="model.website.name"
                       type="text"
                       class="form-control"
                       id="username"
                       placeholder="Website Name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea ng-model="model.website.description"
                          class = "form-control"
                          name="Description"
                          id="description"
                          cols="40"
                          rows="5"
                          placeholder="Website Description"></textarea>
            </div>
        </form>
    </div>
</div>


<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a ng-click="model.goToProfile()"
                   class="navbar-brand navbar-link pull-right">
                    <span class="glyphicon glyphicon-user wbdv-custom-color">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>

