<div class="row container-fluid wbdv-margin-if-fixed-footer wbdv-margin-if-fixed-header">
    <div class="col-lg-1 visible-lg"></div>
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-10">
        <h2 class="text-alignment">Header Widget</h2>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       placeholder="Name">
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <input ng-model="model.widget.text"
                       type="text"
                       class="form-control"
                       id="text"
                       value="Web Development">
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <select ng-model="model.widget.size"
                        class="form-control"
                        name="size"
                        id="size">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="form-group">
                <a ng-show="model.mode !='new'"
                   class="btn btn-danger form-control"
                   ng-click="model.deleteWidget(model.widget)">
                    Delete
                </a>
            </div>
        </form>
    </div>
    <div class="col-lg-1 visible-lg"></div>
</div>
