
<div class="row container-fluid wbdv-margin-if-fixed-footer wbdv-margin-if-fixed-header">
    <div class="col-lg-1 visible-lg"></div>
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-10">
        <h2 class="text-alignment">Image Widget</h2>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       placeholder="Name">
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <input type="text"
                       class="form-control"
                       id="text"
                       placeholder="Text">
            </div>
            <div class="form-group">
                <label for="url">URL</label>
                <input ng-model="model.widget.url"
                       type="text"
                       class="form-control"
                       id="url"
                       value="http://wowslider.com/sliders/demo-18/data1/images/hongkong1081704.jpg">
            </div>

            <div class="form-group">
                <label for="width">Width</label>
                <select ng-model="model.widget.width"
                        class="form-control"
                        name="width"
                        id="width">
                    <option value="100%">100%</option>
                    <option value="80%">80%</option>
                    <option value="60%">60%</option>
                    <option value="40%">40%</option>
                    <option value="20%">20%</option>
                </select>
            </div>
            <div class="form-group">
                <label for="upload">Upload</label>
                <input type="file"
                       class="form-control"
                       id="upload"
                       value="Delete">
            </div>
            <div class="form-group">
                <input ng-show="model.mode !='new'"
                       type="button"
                       class="form-control btn-primary"
                       id="upload_image"
                       value="Upload Image">
            </div>
            <div class="form-group">
                <a ng-show="model.mode !='new'"
                   class="btn btn-danger form-control"
                   ng-click="model.deleteWidget(model.widget)">
                    Delete
                </a>
            </div>
        </form>
    </div>
    <div class="col-lg-1 visible-lg"></div>
</div>

