<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header col-xs-12">
                <a ng-click="model.goToWebsiteList()" class="navbar-brand navbar-link pull-left">
                    <span class="glyphicon glyphicon-chevron-left wbdv-custom-color"></span>
                </a>
                <a class="navbar-brand navbar-link pull-left">
                    <strong class="wbdv-custom-color">Pages</strong>
                </a>
                <a ng-click="model.goToNewPage()" class="navbar-brand navbar-link pull-right">
                    <span class="glyphicon glyphicon-plus wbdv-custom-color"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid wbdv-margin-if-fixed-header wbdv-margin-if-fixed-footer">
    <ul ng-repeat="page in model.pageList" class="list-group">
        <li class="list-group-item">
            <a ng-click="model.goToWidgetList(page._id)">
                {{page.name}}
            </a>
            <a ng-click="model.goToPageEdit(page._id)" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-footer col-xs-12">
                <a ng-click="model.goToProfile()" class="navbar-brand navbar-link pull-right">
                    <span class="glyphicon glyphicon-user wbdv-custom-color"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
