input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.custom-color {
	color: white;
}

.custom-border{
    box-shadow: 0 0 2px black;
}

.margin-if-fixed-header {
    margin-top: 20px;
}

.margin-if-fixed-footer {
    margin-bottom: 60px;
}

.wrapper {
    padding: 0;
    margin: 0;
    height: 100%;
}